<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <title>XD</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mingzat&display=swap" rel="stylesheet">
</head>
<body>
  
<p class="Mitexto" id="Mitexto2">Esto es un parrafo </p>
<h1>Un titulo</h1>
<h3>OTRO TITULO</h3>
<table border="1">
<tr class="tabla">
<th class="tabla">Producto</th><th>Precios</th><th>Cantidad</th>
</tr>
<tr class="td">
  <td>Computador</td><td>$1000000</td><td>666</td>
</tr>
<tr class="td2">
  <td class="td2">Celular</td><td>$1</td><td>666</td>
</tr>
<tr><td><button>Comprar</button></td><td><button>Comprar</button></td><td><button>Comprar</button></td></tr>
</table>
<br><br>
<h3>Mi primer formulario</h3>
<form >
  Usuario <br>
  <input type="text">
  <br>
  Contraseña <br>
  <input type="text">
  <br>
  <input type="submit" value="Enviar">

  <form>
    <input type="radio" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" value="JavaScript">
    <label for="javascript">JavaScript</label>
  </form>




</form>
<div class="General"> <h2>London</h2>
  <p></p>
  <p></p>
<div class="subitem2">

  <p>London is the capital city of England.</p>
  <p>London has over 13 million inhabitants.</p>
  
</div>
<div class="subitem">
  <p>London is the capital city of England.</p>
  <p>London has over 13 million inhabitants.</p>

</div>
</div>

</body>
</html>



<router-outlet /> 

